

div.jp-categories div.clear {
    height: 20px;
}


#portfolio div.list-footer div.limit {
    position: relative;
    float: left;
    width: 140px;
}

#portfolio div.list-footer div.counter {
    float: right;
    width: 130px;
}


#portfolio div.list-footer ul {
    float: left;
    list-style-type: none;
    width: 60%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#portfolio div.list-footer ul li {
    float: left;
    width: auto;
    margin-right: 4px;
}

p.brand {
    text-align: center;
    margin: 10px 0px;
}

p.copyright {
    display: none;
}

div.description {
    text-align: justify;
    margin-bottom: 15px;
}

a.image {
    background: none!important;
    text-align: center;
}

#portfolio p.jp-subline {
    color: #808080;
    font-size: 12px;
    line-height: 12px;
    text-shadow: none;
    margin: 4px 0px 4px 0px;
}

#portfolio div.info h2 {
    display: inline;
}

#portfolio div.info p.text {
    color: #202020;
}

#portfolio .item {
    border-bottom:1px dashed #ACACAC; 
    width:100%;
}

#portfolio div.details {
    margin: 10px 0px;
    padding: 5px;
    -moz-box-shadow: 0 0 3px #AAAAAA;
    -webkit-box-shadow: 0 0 3px #AAAAAA;
    box-shadow: 0 0 3px #AAAAAA;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid white;
}

#portfolio div#gallery-main {
    float: left;
    min-width: 320px!important;
    position: relative;
    margin-bottom: 10px;
}

div.loading {
    background:#FFF url(../images/loading.gif) 50% 50% no-repeat;
    opacity: 0.7;
    position: absolute;
    z-index: 9999;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}



#portfolio div.gallery-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#portfolio div.gallery-menu ul li {
    float: left;
    background: #FFF;
    padding: 3px;
    border: 1px solid #DDD;
    margin: 5px 10px 5px 0px;
}

#portfolio div.beforeContent, #portfolio div.afterContent {
    margin: 10px 0px;
}

#portfolio div.beforeContent table, #portfolio div.afterContent table {
    border: none;
    outline: none;
}

#portfolio div.beforeContent table td, #portfolio div.beforeContent table tr, #portfolio div.afterContent table td, #portfolio div.afterContent table tr {
    border: none;
    outline: none;
}

.clr {
    clear: both;
}

div.item {
    margin: 10px 0px;
}

.main-cat .image img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right:10px;
    margin-bottom: 3px;
}


.subcategories_wrap {
    font-size: 18px;
    text-align: center;
    padding: 5px 0 10px 0;
    margin-top: 10px;
}

.grid_2{
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    /* width: 22%;*/
    text-align: center;
}


.cat-wrap:hover
{ 
    border-style: dotted;
    border-color: blue;
}

.cat-wrap {
    border: 1px solid transparent;
    border-width: 1px;
    width: 22%;
}

.item-containter {
    float: left;
    width: 100%;
    border-bottom: 1px dashed #ACACAC;
    padding: 10px 0;
    margin-bottom: 10px;
}


.grid_6{
    width: 370px;
}

.menuItem a img {
    border: 1px dotted #CCC;
    padding: 0px;
    border-radius: 3px;
    margin: 5px 1px;
    max-width: 100px;
}

#ex_show {
    display: block;
    float: right;
}
.alpha_search{
    border-bottom: 1px dashed #ACACAC;
}

.alpha_search a{
    padding-left: 5px;
}

.jp-subcategory_title p.jp-subline {
    color: #808080;
    font-size: 12px;
    line-height: 12px;
    text-shadow: none;
    margin: 4px 0px 4px 0px;
}

#items-listp .jp-photo-container {
    width: 25%;
    height: auto;
    padding: 0 2% 10px 0;
    margin: 0;
    overflow: hidden;
}

.jp-photo-container {
    float: left;
    height: 100%;
    margin: 0 15px 10px 0;
}

.item-s-description {
    padding: 5px 0;
}

#items-list a.read-more:hover {
    background: url(../images/button_red_more1.png) bottom center;
    text-decoration: none;
    background-color: none;
}

#items-list a.read-more {
    float: right;
    background: url(../images/button_red_more1.png) top center;
    height: 23px;
    width: 123px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 23px;
    font-weight: bold;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff!important;
}

#portfolio-item-containter, #obituary {
    color: #516C7B;
    position: relative;
}

.portfolio-item-containter {
    padding: 10px 15px;
    text-align: justify;
}

.item-photo{
    width: 100%;
    height: 100%;
}


.alert{
    display:none !important;
}

.mode-err{
    text-align: center;
    background-color: #F2DEDE;
    color:#b94a48;
}

#student-paginator span{
    display: inline-block;
    margin: 3px !important;
}

.portfolio-error{
    background-color: #f2dede;
    border: 1px solid #C93E53;
    color: #b94a48;
    min-height: 30px;
    text-align: center;
    line-height: 30px;
}

div#system-message-container{
    display:none!important;
}

#loadImg{
    position:fixed;
    z-index:1000; 
    display:none;
    text-align: center;
    top: 25%;
    left: 0;
    width: 100%;
}

.item-photo a.image{
    z-index: 3;
}
.gallery{
    min-width: 362px;
}

a.main-img{
display: inline-block;
float: left;
}

a.main-img img{
    margin-right: 5px;
}

.main-error{
    background-color: rgb(248, 171, 171);
    text-align: center;
}

#myTab li a {
    color: #08c;
    text-decoration: none;
}